<li id="<%= dom_id(credential) %>" class="p-4 bg-primary-800">
  <div class="flex items-center space-x-4">
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-secondary-400 truncate">
        <%= credential.nickname %>
      </p>
    </div>
    <div>
      <%= button_to webauthn_credential_path(credential), method: :delete, class: "inline-flex items-center px-2.5 py-0.5 text-sm leading-5 font-medium text-red-600 bg-primary-800 hover:text-red-500 hover:bg-primary-700 rounded-md shadow" do %>
        Delete
      <% end %>
    </div>
  </div>
</li>
