<%= form_with(model: credential,
      url: webauthn_credentials_challenge_path(format: :json),
      method: :post,
      data: {
        controller: "webauthn--register",
        action: "submit->webauthn--register#create",
        "webauthn--register-callback-value": webauthn_credentials_url(format: :turbo_stream)
      },
      class: "max-w-lg mx-auto bg-primary-800 p-6 rounded-lg shadow-sm"
   ) do |f| %>

  <div class="flex flex-col sm:flex-row mb-5 gap-3 sm:gap-2">
    <%= f.text_field :nickname,
        placeholder: "How it will be called?",
        required: true,
        data: { "webauthn--register-target": "nickname" },
        class: "w-full px-3 py-2 bg-primary-700 border border-secondary-700 rounded-md shadow-sm text-secondary-400 placeholder-secondary-600 focus:ring-accent-500 focus:border-accent-500 outline-none"
    %>

    <%= f.button :button, class: "sm:w-auto w-full px-4 py-2 bg-accent-500 hover:bg-accent-600 text-white rounded-md shadow focus:outline-none" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>      
    <% end %>
  </div>

  <%= turbo_frame_tag "webauthn_credential_error",
      class: "text-red-400 text-sm mt-1"
  %>

<% end %>
