<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post.content %>
  </p>
  <% if post.images.attached? %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <div class="flex space-x-2 overflow-x-auto w-96">
      <% post.images.each do |image| %>
        <div class="max-h-56 flex items-center justify-center">
          <%= image_tag image.url, class: "max-w-full max-h-full object-contain" %>
        </div>
      <% end %>
    </div>
  </p>
  <% end %>
  <% if post.video.attached? %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Video:</strong>
    
      <div class="w-96 h-56">
        <%= video_tag post.video.url, controls: true, class: "w-full h-full object-contain" %>
      </div>
    
  </p>
  <% end %>
</div>