<div class="mx-auto md:w-2/3 w-full p-8 bg-primary-900 text-secondary-400">
  <h1 class="font-heading font-bold text-4xl mb-6">Editing post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Show this post", @post, class: "ml-2 rounded-lg py-3 px-5 bg-primary-800 inline-block font-medium" %>
  <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-primary-800 inline-block font-medium" %>
</div>
