<div class="mx-auto md:w-2/3 w-full p-8 bg-[var(--color-primary-900)] text-[var(--color-secondary-400)]">
  <h1 class="font-heading font-bold text-4xl mb-6">New post</h1>

  <%= render "form", post: @post %>
</div>
