<div id="flash">
  <% if notice.present? %>
      <div data-controller="flash" data-flash-type-value="success" class="hidden" id="notice"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
      <div data-controller="flash" data-flash-type-value="error" class="hidden" id="alert"><%= alert %></div>
  <% end %>
</div>